body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #eaf6ff; /* Light blue background */
    color: #333;
}

header {
    background-image: url('lake_district.jpg'); /* Add your Lake District photo */
    background-size: cover;
    color: #fff;
    padding: 40px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 30px;
    text-align: center; /* Center align text */
}

footer {
    background-color: #eaf6ff;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
